<container className="TopicForm">
            
    <form>
        <div className="form-group">
          <label for="exampleFormControlInput1">Topic</label><br>
          <input type="Text" className="form-control" id="exampleFormControlInput1" placeholder="Topic">
        </div>
        
        
        <div className="form-group">
            <label for="exampleFormControlInput1">Question</label><br>
            <input type="text" className="form-control" id="exampleFormControlInput1" placeholder="Question">
          </div>

          <button type="button" className="btn-primary1">Add Question</button>
        

          <div className="form-group">
            <label for="exampleFormControlSelect1">Section</label><br>
            <select className="form-control" id="exampleFormControlSelect1">
              <option>Section A</option>
              <option>Section B</option>
              <option>Section C</option>
            </select>
          </div>

          <label className="form-group" id="date">Date</label>
        <input type="date" id="topicDate" name="birthday"><br>

        <button type="button" className="btn-primary2">Submit</button>
      </form>
    </container>